.task {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

p {
  font-size: 1.2rem;
}

p span {
  background: black;
  box-sizing: border-box;

  font-size: 1rem;
  padding: 2px 4px;
  color: rgb(182, 178, 178);
  border-radius: 5px;
  font-family: fantasy;
}
